.section_transform {
  display: flex;
  width: 100%;
  height: 600px;
}

.section_audience {
  display: flex;
  width: 100%;
  height: 600px;
}

.text {
  width: 50%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding-left: 8.6%;
  padding-right: 7%;
}

.text_width {
  max-width: 445px;
}

.image_wrapper {
  width: 50%;
  position: relative;
}

.heading {
  font-family: var(--fraunces);
  font-weight: 900;
  font-size: 2.5rem;
  line-height: 1.2;
  letter-spacing: -0.29px;
  color: var(--very-dark-blue-color);
  padding-bottom: 32px;
}

.paragraph {
  font-weight: 600;
  font-size: 1.125rem;
  line-height: 1.7;
  letter-spacing: -0.13px;
  color: var(--gray-color);
  margin: 0;
  padding-bottom: 40px;
}

.link_1 {
  color: var(--very-dark-blue-color);
  text-transform: uppercase;
  font-family: var(--fraunces);
  font-weight: 900;
  font-size: 0.938;
  position: relative;
  padding-left: 8px;
  padding-right: 8px;
}
.link_1::before {
  bottom: -2px;
  content: "";
  display: block;
  height: 10px;
  left: 0;
  position: absolute;
  background: #fad40040;
  width: 100%;
  z-index: -1;
  border-radius: 50px;
}
.link_1::after {
  bottom: -2px;
  content: "";
  display: block;
  height: 10px;
  left: 0;
  position: absolute;
  background: #FAD400;
  width: 0;
  z-index: -1;
  border-radius: 28px;
}
.link_1:hover::after {
  width: 100%;
  left: 0;
}

.link_2 {
  color: var(--very-dark-blue-color);
  text-transform: uppercase;
  font-family: var(--fraunces);
  font-weight: 900;
  font-size: 0.938;
  position: relative;
  padding-left: 8px;
  padding-right: 8px;
}
.link_2::before {
  bottom: -2px;
  content: "";
  display: block;
  height: 10px;
  left: 0;
  position: absolute;
  background: #fe786640;
  width: 100%;
  z-index: -1;
  border-radius: 50px;
}
.link_2::after {
  bottom: -2px;
  content: "";
  display: block;
  height: 10px;
  left: 0;
  position: absolute;
  background: #FE7766;
;
  width: 0;
  z-index: -1;
  border-radius: 28px;
}
.link_2:hover::after {
  width: 100%;
  left: 0;
}

/* responsive */
@media (max-width: 1024px) {
  .section_transform,
  .section_audience {
    height: 500px;
  }
}

@media (max-width: 768px) {
  .section_transform {
    flex-direction: column-reverse;
    height: 819px;
  }
  .section_audience {
    flex-direction: column;
    height: 819px;
  }
  .text {
    width: 100%;
    padding: 74px 24px;
    align-items: center;
    text-align: center;
  }
  .image_wrapper {
    width: 100%;
    height: 412px;
  }
}

@media (max-width: 425px) {
  .section_transform,
  .section_audience {
    height: 719px;
  }
  .text {
    padding-top: 64px;
    padding-bottom: 64px;
  }
  .image_wrapper {
    height: 312px;
  }
}
