.footer {
  width: 100%;
  background-color: #90D4C6;
  padding-top: 72px;
  padding-bottom: 72px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.links {
  padding: 40px 0px 88px 0px;
  font-weight: 600;
  font-size: 1.125rem;
  line-height: 1.4;
  color: #458D7E;
  letter-spacing: -0.13px;
}

.link:hover {
  color: white;
}

.marginRight {
  margin-right: 57px;
}

.icon {
  margin-right: 28px;
  fill:#2C7566
}

.icon:last-child {
  margin-right: 0;
}

.icon:hover {
  fill: white;
}

/* responsive */
@media(max-width: 768px) {
  .footer {
    padding: 64px 24px 80px;
  }
}
@media(max-width: 425px) {
  .marginRight {
    margin-right: 40px;
  }
}